<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About 덕성여대 컴퓨터공학과</title>
    <link href="{% static 'mainapp/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen"></link>
    <link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'mainapp/css/customstyles.css' %}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <!-- 메인페이지 -->
        <div class="row">
            <!-- 메인페이지 좌측 (타이틀, 소개, 검색창 표시) -->
            <div class="col-4 ds_img">
                <img src="https://www.duksung.ac.kr/uploads/CONTENTS/site/duksung/duksung_symbol.png"
                     alt="logo image" width="300vw" height="300vh">
            </div>
            <div class="col-8 dsce">
                {% include 'navbar.html' %}
                
                <h3 class="major">컴퓨터공학전공</h3>
                <p class="subtitle">"미래의 정보사회가 요구하는 실무 능력을 갖춘 우수한 IT 전문 인력 양성"</p>
                <p class="content">
                    덕성여자대학교 컴퓨터공학과는 차별화되고 전문화된 다양한 IT 첨단 기술의 교육을 통하여, <br>
                    미래의 정보사회가 요구하는 실무 능력을 갖춘 우수한 IT 전문 인력 양성을 교육의 목표로 삼고 있다. <br>
                    소프트웨어의 개발 및 응용에 필요한 이론과 기술 교육을 실시하고, 실험·실습 교육을 통해 활용 능력을 높이며,
                    캡스톤 디자인, 현장 경험 및 산업체 전문가의 교육 참여를 확대하여 습득한 지식을 현실에 적용할 수 있도록 하고 있다.
                <small class="dsce_web"><a href="https://www.duksung.ac.kr/computer/main.do"> (덕성여자대학교 컴퓨터공학전공 홈페이지)</a></small>
                </p>
                <h3 class="major">소프트웨어전공</h3>
                <p class="subtitle">"첨단 소프트웨어 개발/연구 인재 양성"</p>
                <p class="content">
                    소프트웨어전공은 4차 산업혁명의 핵심 분야를 인공지능, 빅데이터, 사물인터넷, 모바일 컴퓨팅으로 정의하고,
                    4차 산업혁명 도래에 따라 급변하는 IT 기술 분야에 능동적으로 선도할 수 있는 자가발전형 소프트웨어 전문 인재를 육성하는데 목표를 두고 있으며,
                    급격하게 변화하는 시대적 메가트렌드에 기반한 교과목 편성을 계획하고 있다. <br>
                    이는 기존의 전통적인 컴퓨터공학 학문 체계를 단순하게 계승 또는 세분화하는 차원이 아니며,
                    4차 산업혁명 시대 도래에 따른 산업 현장의 요구 인재를 공급하기 위한 도전적 선행교육을 수행하는 전공이다.
                <small class="dsce_web"><a href="https://www.duksung.ac.kr/software/main.do"> (덕성여자대학교 소프트웨어전공 홈페이지)</a></small>
                </p>
                <h3 class="major">IT미디어공학전공</h3>
                <p class="subtitle">"IT와 미디어 기술의 융합 전공 교육"</p>
                <p class="content">
                    IT미디어공학과는 컴퓨터, 스마트폰 및 다양한 사물인터넷 기기를 위한 프로그래밍 및 데이터의 처리, 활용 등을 위한 첨단 기술 분야를 다룬다.
                    또한 영상, 게임 콘텐츠, 사용자 인터페이스/사용자 경험 등 창조적인 미디어 기술 분야를 다룸으로써,
                    첨단 IT 및 미디어 기술에 대한 전반적 이해를 토대로 다원적 융합형 인재 양성을 통해
                    새로운 융합 사회로의 진보와 인류 사회의 발전에 기여함을 목표로 한다.<br>
                    기술적인 측면에서 하드웨어와 소프트웨어에 관한 기본 이론 및 프로그래밍 방법을 포함한 핵심 IT 기술은 물론,
                    디지털미디어의 기본 개념과 그 적용 범위에 대한 이해를 바탕으로 다중 콘텐츠 데이터들의 특징, 활용방법 및
                    다양한 매체를 이용한 정보전달의 효과를 극대화할 수 있는 기술들을 학습한다.
                <small class="dsce_web"><a href="https://www.duksung.ac.kr/itmedia/main.do"> (덕성여자대학교 IT미디어공학 홈페이지)</a></small>
                </p>
                <h3 class="major">사이버보안전공</h3>
                <p class="subtitle">"창의성과 응용력을 갖춘 능동적 미래 인재 양성"</p>
                <p class="content">
                    사회 전반에 ICT 기술이 융합되면서 사이버보안은 모든 업무의 필수 요구사항이 되고 있어
                    정보보호 전문가의 수요는 전 산업 분야에서 급증하고 있다.
                    특히 사물인터넷, 빅데이터, 인공지능, 블록체인 등의 신규 ICT 기술이 융합된 산업으로 진화되면서
                    해킹 및 사이버 테러는 경제적 피해를 넘어 생명까지 위협하게 되어 사이버보안 전문인력 배양의 중요성은 날로 커지고 있다.
                    사이버보안전공은 컴퓨터공학을 기본으로 정보 및 시스템의 안전한 운영, 다양한 해킹 공격 및 취약점 분석 기술의 이해를 통한
                    침해 대응과 예방 등 정보보호 기술 전반에 필요한 전문 지식을 이론과 실습을 통해 체계적으로 학습하고 실무 능력을 함양한다.
                <small class="dsce_web"><a href="https://www.duksung.ac.kr/cybersec/main.do"> (덕성여자대학교 사이버보안전공 홈페이지)</a></small>
                </p>
            </div>
        </div>
    </div>
</body>
</html>