{% extends 'mainapp/board_post.html' %}
<!-- navbar.html 나중 추가 -->

    <div class="container">
    <div class="row">
        <div class="col md-4 col-lg-3">
            {% include 'sidebar.html' %}
        </div>
        <div class="col-md-8 col-lg-9" id="main-area">
          <!--Post content-->
            <div id="post-area">
                <!-- Post header -->
                <header class="mb-4">
                    {% block head_title %}
                        {{ post.title }}<br>
                    {% endblock %}
                    <!-- 투표하기 버튼 나중 추가 -->

                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                        Posted on {{post.created_at | date:"Y-m-d h:m:s"}} by {{post.author}}
                    </div>
                    <!-- Post categories -->
                    {% if post.category %}
                    <a class="badge bg-secondary text-decoration-none link-light" href="{{post.category.get_absolute_url}}">
                        {{post.category}}<br>
                    </a>
                    {% else %}
                    <a class="badge bg-secondary text-decoration-none  link-light" href="/blog/category/no_category/">미분류<br></a>
                    {% endif %}
                </header>


                {{ post.content }}<br>
                {% for tag in post.Tag.all %}
                    <a href="{% url 'tag_page' tag %}"> {{ tag }}</a>
                {% endfor %}
                <img src="{{ post.img.url }}" width="300"><br>
                {% if post.file %}
                <a href="{{ post.file.url }}" download>
                    <div class="downbox">
                        <span class="chumboo">첨부파일</span>
                        <!-- <span class="filename">vkdlf.jpeg</span> -->
                        <span class="filename">{{ post.get_file_name }}</span>
                    </div>
                </a>
                {% endif %}

                <h2>스크랩 ({{ post.scrap.all.count }})</h2>
                {% if user in post.scrap.all %}
                <a href="{% url 'scrap' pk=post.pk %}">스크랩삭제</a>
                {% else %}
                <a href="{% url 'scrap' pk=post.pk %}">스크랩하기</a>
                {% endif %}

            </div>

            <!-- Comments section -->
            {% if user.is_authenticated %}
              <form action="{% url 'comment_create' pk=post.pk %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit">
                <hr>
                <h4>댓글 ({{ post.comment_set.count }})</h4>

                {% for c in post.comment_set.all %}
                    <p>작성자: {{ c.user.name }} </p>
                    <p>{{ c.content }}</p>
                    {% if c.created_at != c.modified_at %}
                       <p>{{ c.modified_at }}</p>
                    {% else %}
                       <p>{{ c.created_at }}</p>
                    {% endif %}

                    {% if user == c.user %}
                        <a href="{% url 'comment_update' pk=c.pk %}">수정</a>
                        <a href="{% url 'comment_delete' pk=c.pk %}">삭제</a>
                    {% endif %}
                    <hr>
                {% endfor %}
              </form>
            {% else %}
            <!--alert 추가-->
              <a href="{% url 'login' %}">[댓글을 작성하려면 로그인하세요.]</a>
            {% endif %}
        </div>

    </div>
    </div>
