{{ post.content }}<br>
<img src="{{ post.img.url }}" width="300"><br>
{% if post.file %}
<a href="{{ post.file.url }}" download>
    <div class="downbox">
        <span class="chumboo">첨부파일</span>
        <!-- <span class="filename">vkdlf.jpeg</span> -->
        <span class="filename">{{ post.get_file_name }}</span>
    </div>
</a>
{% endif %} 

<h2>스크랩 ({{ post.scrap.all.count }})</h2>
{% if user in post.scrap.all %}
    <a href="{% url 'scrap' pk=post.pk %}">스크랩삭제</a>
{% else %}
    <a href="{% url 'scrap' pk=post.pk %}">스크랩하기</a>
{% endif %}


{% if user.is_authenticated %}
  <form action="{% url 'comment_create' pk=post.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
    <hr>
    <h4>댓글 ({{ post.comment_set.count }})</h4>

    {% for c in post.comment_set.all %}
        <p>작성자: {{ c.user.name }} </p>
        <p>{{ c.content }}</p>
        {% if c.created_at != c.modified_at %}
           <p>{{ c.modified_at }}</p> 
        {% else %} 
           <p>{{ c.created_at }}</p>
        {% endif %}
        <a href="{% url 'comment_update' pk=c.pk %}">수정</a>
        <a href="{% url 'comment_delete' pk=c.pk %}">삭제</a>
        <hr>
    {% endfor %}
  </form>
{% else %}
  <a href="{% url 'login' %}">[댓글을 작성하려면 로그인하세요.]</a>
{% endif %}
