<div class="flow-container" id="floating">
        <div class="flow-text">
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
            <div class="flow-wrap">DSWU CE GRAD EXIBITION •°</div>
        </div>
</div>