<footer class="py-5 bg-black">
    <!--
    <h3 class="write"><a href="https://lms.duksung.ac.kr/login.php">글쓰기</a></h3>
    <a href="#floating" class="page-top"></a> -->
    <div class="container"><p class="m-0 text-center text-white">© 2022 All Rights Reserved @ sogongsugong</p></div>
    <div class="footer-email"><p class="m-0 text-center text-white">권민정 kwonmj920@duksung.ac.kr </p></div>
    <div class="footer-email"><p class="m-0 text-center text-white">남서현 syn5421a@duksung.ac.kr</p></div>
    <div class="footer-email"><p class="m-0 text-center text-white">이동희 20200844@duksung.ac.kr</p></div>
    <div class="footer-email"><p class="m-0 text-center text-white"> 한진경 jinkyung0310@duksung.ac.kr</p></div>
</footer>