{% load static %}
<form method="POST" action="{% url 'search' %}">
  {% csrf_token %}        
  <input type="search" placeholder="Search" name="search">
  <button type="submit"> Search </button>
</form>
{% for c in category %}
<a href="{{ c.get_absolute_url }}">{{c}}<br></a>
{% endfor %}<br><br><br>
{% for tag in tag.all %}
    {% if tag.name == "app" or tag.name == "web" or tag.name == "python" or tag.name == "c" or tag.name == "java" or tag.name == "c++" or tag.name == "kotlin" or tag.name == "django" or tag.name == "node.js" or tag.name == "spring boot" or tag.name == "swift" or tag.name == "react" %}
      <a href="{% url 'tag_page' tag %}">
        <button class="tag_btn" >
            {{ tag }}
        </button>
      </a>
    {% endif %}
{% endfor %}
{% if user.is_authenticated %}
  <span>{{ user.name }}님 환영합니다 *^^*</span>
  <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout</a>
    <div class="btn_contain">
      <div class="newbtn">
        <a href="{% url 'board_post' %}">+ 글쓰기</a>
      </div>
      <div class="newbtn">
        <a href="{% url 'vote' %}">투표하기</a>
      </div>
    </div>
{% else %}
  <span><a class="dropdown-item" href="{% url 'login' %}">
    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
    로그인</a></span>
  <span><a class="dropdown-item" href="{% url 'signup' %}">
    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
    회원가입</a></span>
{% endif %}

<a href="{% url 'mypage' %}">마이페이지</a>
<br><br>
{% for p in post %}
    <div>
        <a href="{% url 'board_detail' pk=p.pk %}">
        {{ p.title }}<br>
        {{ p.content }}<br>
        {{ p.category }}<br>
        {% for tag in p.Tag.iterator %}
          {{ tag }}
        {% endfor %}
        {% if p.img %}
          <img src="{{ p.img.url }}" width="300"><br>
        {% endif %}
        {{ p.date }}
        </a>
        <br>
        <br>
        <br>
    </div>
{% endfor %}


