<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>cheer 검색결과</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'mainapp/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen"></link>
    <link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'mainapp/css/customstyles.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/65f5e6b721.js" crossorigin="anonymous"></script>		<!-- fontawesome 사용시 필요 -->


    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Nanum+Myeongjo:wght@400;800&family=Noto+Sans+KR:wght@500;700;900&family=Noto+Serif+KR&family=Shrikhand&family=Song+Myung&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'flow.html' %}
    {% include 'navbar.html' %}


{% if post %}
    <div class="container" style="font-family: 'Noto Sans KR', sans-serif; color: white; margin-top: 20px;">
        <h1 style="line-height: 150%;">
            검색 결과
            <p>{{ search }}</p>
        </h1>

        <div class="album py-5 bg-black">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for p in post %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" vgwidth="100%" height="225" src="{{ p.img.url }}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false" >
                            <title>Placeholder</title>
                            <a href="{% url 'board_detail' pk=p.pk %}" style="color: #fff;">
                            <text><b>{{ p.title }}</b></text><br>
                            <text><button class="category_btn1"><b>{{ p.category }}</b></button></text><br>
                            {% for tag in p.Tag.iterator %}
                                <text><button class="tag_btn1"><b>#{{ tag }}</b></button></text>
                            {% endfor %}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>



    </div>
<br>
{% else %}
    <div class="container" style="font-family: 'Noto Sans KR', sans-serif; color: white; margin-top: 20px;">
        <h1 style="line-height: 150%;">
            검색 결과
            <p>{{ search }}</p>
        </h1>



        <h1 style="text-align: center; margin: 10%; font-size: 1em;">
            '{{ search }}'라는 게시물은 존재하지 않습니다.
        </h1>
    </div>

{% endif %}

<!-- 'title':title, 'content':content, 'category':category, 'tag':tag -->
        {% include 'footer.html' %}
</body>
</html>