<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %} CHEER - 마이페이지 {% endblock %}</title>
  <link href="{% static 'account/bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">
    <link href="{% static 'account/css/customstyles2.css' %}" rel="stylesheet" />
    <link href="{% static 'account/css/customstyles.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/3385a22710.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Nanum+Myeongjo:wght@400;800&family=Noto+Sans+KR:wght@500;700;900&family=Noto+Serif+KR&family=Shrikhand&family=Song+Myung&display=swap" rel="stylesheet">


</head>
<body>

    {% include 'flow.html' %}
    {% include 'navbar.html' %}

    <br>
    <div class="container"  style="font-family: 'Noto Sans KR', sans-serif;">
        <div class="row">
        <div class="col align-self-center">
            <div class="card mb-6" id="signup_card">
            <br>
            <div class="container">
                <div class="card-body" style="text-align:left;">

                    {% if user.is_authenticated %}

                        <h6 class="text-center" style="color: #000; font-weight: bold; font-size: 1.7em; padding-bottom: 15px;">
                            {{ user.name }}님, CHEER 전시회에 방문하신 것을 환영합니다!
                        </h6>

                      <hr style="background: #000; height: 2px; border: 0;">
                      <h5 style="color: #000; padding-left: 1.3em;">스크랩 목록</h5>
                        <div class="album py-5 bg-black">
                            <div class="container">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    {% for p in user.scrap_name.all %}
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <a href="{% url 'board_detail' pk=p.pk %}" style="color: #fff;">
                                            <img class="bd-placeholder-img card-img-top" vgwidth="100%" height="225" src="{{ p.img.url }}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                            focusable="false" >
                                            <title>Placeholder</title>
                                            <text><b>{{ p.title }}</b></text><br>
                                            <text><button class="category_btn1"><b>{{ p.category }}</b></button></text><br>
                                            {% for tag in p.Tag.iterator %}
                                                <text><button class="tag_btn1"><b>#{{ tag }}</b></button></text>
                                            {% endfor %}
                                            </a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <br>

                        <h5 style="color: #000;  padding-left: 1.3em;">투표내역</h5>
                    <div class="album py-5 bg-black">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img class="bd-placeholder-img card-img-top" vgwidth="100%" height="225" src="{{ user.vote.img.url }}" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                        focusable="false" >
                                        <text><b>{{ user.vote.title }}</b></text><br>
                                        <text><button class="category_btn1"><b>{{ user.vote.category }}</b></button></text><br>
                                        {% for tag in user.vote.Tag.iterator %}
                                            <text><button class="tag_btn1"><b>#{{ tag }}</b></button></text>
                                        {% endfor %}
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                <br>

            </div>
                    {% else %}
                    <h1 class="text-center" id="login_req">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    </h1><br>
                    <a role="button" class="btn btn-block btn-sm" href="{% url 'login' %}">
                        로그인</a>
                    {% endif %}

            </div>
            </div>
        </div>
        </div>
    </div>

        <!--form method부터 지우고 이게 들어가야 -->



    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</body>
</html>