{% if user.is_authenticated %}
  <span>{{ user.name }}님 환영합니다 *^^*</span>
  <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout</a>
    {% for p in user.scrap_name.all %}
        <a href="{% url 'board_detail' pk=p.pk %}">
        <div>{{ p.title }}</div>
        <div><img src="{{ p.img.url }}" width="300"></div>
        </a>
        <br>
    {% endfor %}
    <br>

    <h3>투표내역</h3>
    제목 {{ user.vote.title }}<br>
    내용 {{ user.vote.content }}

    
{% else %}
  <span><a class="dropdown-item" href="{% url 'login' %}">
    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
    로그인하세요</a></span>
{% endif %}

