/*전체*/
body {
    background-color: #000;
    color:white
}



.btn-primary {
        color: white;
        background-color: #852845;
        border-color: #852845;
        }
.btn-primary:hover {
        color: white;
        background-color: #852845;
        border-color: white
        }

a:link{
        color:#852845
        }
a:visited{
        color:#852840
        }
a:active{
        color:#852840
        }
a:hover{
        color:#852840
        }

#title{
        color:#808080;
        font-weight:bold
        }

/*sidebar*/
#sidebar_title{
        color:white;
        font-weight:bold
        }
#sidebar_name{
        color:white;
        font-size:small
        }
#category_title{
        color:white;
        font-weight:bold
        }

/*post등록*/
#board_post{
    color:white;
    font-size:1px
}

/*post_detail*/
#detail_title{
        font-weight:800
}
#detail_title{
        font-size:30px
}

h2{
    font-size:1rem
}