@font-face {
    font-family: 'JSongMyung-Regular-KO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* DSWU CS 배너 */
.flow-text {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 1s;
    font-size: 1.0rem;
    font-weight:bold;
    color: #fff;
    background-color: #981b45;
}
.flow-wrap {
    animation: textLoop 10s linear infinite;
    padding-right: 1vw;
}

@keyframes textLoop {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
    100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}

body {background-color: #000}

/* 왼쪽 col */
.title {    /* 프로젝트 title */
    font-family: 'Shrikhand', cursive;
    font-size: 5em;
    color: #fff;
}
#title-info {
    border-right:
    5px solid #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
#title-info img {
    width: 75%;
    margin-top: 20px;
}
/* main 세로 구분선 */
.info {color: #fff;}
/* 서치바 */
.searchBar {
    position: relative;
    width: 500px;
    height: 40px;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
}
.fa-magnifying-glass {
    position: absolute;
    top: 10px;
    left: 12px;
}
.form-control {
    border-radius: 5px;
}
/* 오른쪽 col */

 /* navbar */
ul li {
    width: 120px;
}
.nav-link:link {
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}
.nav-link:visited {     /* :visited는 :hover보다 먼저 써야 적용됨 */
    color: white;
}
.nav-link:hover {
    color: #981b45;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #000;
    color: #fff;
}
.dropdown-item {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
.dropdown-item:hover {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #000;
    color: #981b45;
}

    /* cheer 풀네임 + 졸업생수, 프로젝트 수 표시 */
.fullname {
    width: 100%;
}
.fullname img {
    max-width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}
    /* cheer 풀네임 - animation */
.fullname img {
  animation: fadeOut ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
    /* 졸업생수, 프로젝트 수 - animation */
.howmuch {
  display: grid;
  place-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate( -50%, -50%);
  font-size: 2em;
  text-align: center;
  margin-top: 10%;
  color: white;
}

.grad {
  width: 22ch;
  animation: fadeIn ease 3s forwards, typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: white;
  text-align: center;
  animation-delay: 4.5s;
  opacity: 0;
  font-family: 'Nanum Gothic Coding', monospace;
}
.prj {
  width: 22ch;
  animation: fadeIn ease 3s forwards, typing 3s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  color: white;
  text-align: center;
  animation-delay: 8.5s;
  opacity: 0;
  font-family: 'Nanum Gothic Coding', monospace;
}
@keyframes fadeIn {
   to {
    opacity: 1;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}
.category_btn {
    border: none;
    color: black;
    background-color: #af596a;   
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 16px;
}

/* main */
    /* tag css */
.tag_btn {
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 16px;
}
.tag_btn1 {
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px;  
    font-size:80%;
}
.category_btn1 {
    border: none;
    color: black;
    background-color: #af596a;   
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size:80%;
}
.tag a {
    color: #000;
}
.category a {
    color: #000;
}
    /* prj css */
.card {margin: 0.5rem; text-align:center;}
.card text {
    opacity: 0;
}
.card:hover text {
    opacity: 1;
    color:black;
    weight:bold;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 700px) {
    .bd-placeholder-img-lg {font-size: 3.5rem;}
}

/* 페이지네이션
.pagination {
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    text-align: center;
}
.pagination a:hover {
    color: #981b45;
}
.pagination a,
.pagination .current{
    color: #fff;
    border-radius: 50%;
    padding-top: 4px;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 0 6px;
}
.pagination .current {
    color: #981b45;
} */

/* footer.html */
footer {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.875rem;
}

/* about.html */
.ds_img img {
    top: 25%;
    position: sticky;
}
.ds_img {
    display: flex; justify-content:center;
    text-align : center;
}
.dsce {
    color: white;
}
.major {
    font-weight: bold;
    padding-top: 3%;
    margin-left: 5%;
}
.content {
    line-height: 200%;
    margin-left: 5%;
}
.dsce_web a {
    color: #981b45;
}
.float {
    height: 80px;
    width: 80px;
    text-align: center;
    position: fixed;
    bottom: 80px;
    color: white;
    font-size: 50px;
    text-decoration: none;
    border-radius: 100px;
    background-color: #af596a;
    color: #981b45;
    margin-left: 50px;
    right:50px;
}
